{% extends 'base/base.html' %}

{% block title %}
    Add Home | {{ request.session.username }}
{% endblock title %}

{% block content %}
    {% if request.session.username %}
        <div class="row justify-content-center">
            <h1 class="text-center">Add Home</h1>
            <form style="max-width:70%" action="{% url 'addhome' %}" method="POST">
                {% csrf_token %}
                
                {% include 'includes/messages.html' %}
                
                {% comment %}<div class="mb-3 row">
                    <label for="countryname" class="col-sm-2 col-form-label">Country Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="countryname" name="countryname" value="{{ countryname }}" class="form-control" aria-describedby="">
                    </div>
                </div>
                {% endcomment %}
                <div class="mb-3 row">
                    <label for="countryname" class="col-sm-2 col-form-label">Country Name</label>
                    <div class="col-sm-10">
                        <select class="form-control search-fields" name="countryname" id="countryname">
                            <option selected="true" disabled="disabled">Country Name</option>
                            {%for country in countries %}
                                <option value="{{ country }}">{{ country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% comment %}<div class="mb-3 row">
                    <label for="statename" class="col-sm-2 col-form-label">State Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="statename" name="statename" value="{{ statename }}" class="form-control" aria-describedby="">
                    </div>
                </div>{% endcomment %}

                <div class="mb-3 row">
                    <label for="statename" class="col-sm-2 col-form-label">State Name</label>
                    <div class="col-sm-10">
                        <select class="form-control search-fields" name="statename" id="statename">
                            <option selected="true" disabled="disabled">State Name</option>
                            <!-- {%for state in states %}
                                <option value="{{ state }}">{{ state }}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                </div>

                {% comment %}<div class="mb-3 row">
                    <label for="cityname" class="col-sm-2 col-form-label">City Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="cityname" name="cityname" value="{{ cityname }}" class="form-control" aria-describedby="">
                    </div>
                </div>{% endcomment %}

                <div class="mb-3 row">
                    <label for="cityname" class="col-sm-2 col-form-label">City Name</label>
                    <div class="col-sm-10">
                        <select class="form-control search-fields" name="cityname" id="cityname">
                            <option selected="true" disabled="disabled">City Name</option>
                            <!-- {%for city in cities %}
                                <option value="{{ city }}">{{ city }}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="streetname" class="col-sm-2 col-form-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" id="streetname" name="streetname" value="{{ streetname }}" class="form-control" aria-describedby="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="postalcode" class="col-sm-2 col-form-label">Post Code</label>
                    <div class="col-sm-10">
                        <input type="text" id="postalcode" name="postalcode" value="{{ postalcode }}" class="form-control" aria-describedby="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="housename" class="col-sm-2 col-form-label">House Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="housename" name="housename" value="{{ housename }}" class="form-control" aria-describedby="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="housenumber" class="col-sm-2 col-form-label">House Number</label>
                    <div class="col-sm-10">
                        <input type="text" id="housenumber" name="housenumber" value="{{ housenumber }}" class="form-control" aria-describedby="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="textfield" id="description" name="description" value="{{ description }}" class="form-control" aria-describedby="">
                    </div>
                </div>
                <div class="d-flex">
                    <button class="btn button-theme btn-md btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <h3> You must be logged in to add a home!! </h3>
        </div>
    {% endif %}
{% endblock content %}

