{% extends 'base/base.html' %}
{% block title %}  {% endblock %}
{% block content %}

{% load static %}

{% if request.session.username %}
    <div class="content-area-6">
        <div class="main-title" style="margin-top: -50px; margin-bottom: 35px;" >
            <h1>Edit Your <span>Room Info</span></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-md-12 col-xs-12">
                    <div class="home-details-section">
                        <!-- Heading start -->
                        <div class="heading-home clearfix">
                            {% include 'includes/messages.html' %}
                            <form action="{% url 'editroominfo' house_id roomnumber %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" name="houseid" id="houseid" value="{{ house_id }}" hidden>
                                <input type="text" name="roomnumberid" id="roomnumberid" value="{{ roomnumber }}" hidden>
                                <div class="mb-3 row">
                                    <label for="housename" class="col-sm-2 col-form-label">House Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="housename" name="housename" value="{{ housename }}" class="form-control" aria-describedby="" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="houseaddress" class="col-sm-2 col-form-label">House Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="houseaddress" name="houseaddress" value="{{ house_address }}" class="form-control" aria-describedby="" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="roomnumber" class="col-sm-2 col-form-label">Room No.</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="roomnumber" name="roomnumber" value="{{ roomnumber }}" class="form-control" aria-describedby="" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="maxcapacity" class="col-sm-2 col-form-label">Maximum Capacity</label>
                                    <div class="col-sm-10">
                                        <select class="form-control search-fields" name="maxcapacity" id="maxcapacity">
                                            <option disabled="disabled">Capacity</option>
                                            {% if '1' in capacity %}
                                                <option selected="true" value="1">1</option>
                                            {% else %}
                                                <option value="1">1</option>
                                            {% endif %}
                                            {% if '2' in capacity %}
                                                <option selected="true" value="2">2</option>
                                            {% else %}
                                                <option value="2">2</option>
                                            {% endif %}
                                            {% if '3' in capacity %}
                                                <option selected="true" value="3">3</option>
                                            {% else %}
                                                <option value="3">3</option>
                                            {% endif %}
                                            {% if '4' in capacity %}
                                                <option selected="true" value="4">4</option>
                                            {% else %}
                                                <option value="4">4</option>
                                            {% endif %}
                                            {% if '5' in capacity %}
                                                <option selected="true" value="5">5</option>
                                            {% else %}
                                                <option value="5">5</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="roomprice" class="col-sm-2 col-form-label">Price (In doller)</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="roomprice" name="roomprice" value="{{ price }}" class="form-control" aria-describedby="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="offer_pct" class="col-sm-2 col-form-label">Offer (In percent)</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="offer_pct" name="offer_pct" value="{{ offer_pct }}" class="form-control" aria-describedby="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="description" class="col-sm-2 col-form-label">Description</label>
                                    <div class="col-sm-10">
                                        <input type="textfield" id="description" name="description" value="{{ description }}" class="form-control" aria-describedby="">
                                    </div>
                                </div>
                                <div class="d-flex m-flex">
                                    <button class="btn button-theme btn-md btn-success" type="submit">Save Changes</button>
                                </div>
                            </form>
                        </div>
                        <div id="homeDetailsSlider" class="carousel home-details-sliders slide mb-40" data-ride="carousel">                            
                            <!-- main slider carousel nav controls -->
                            <h3 style="margin-top: 50px; margin-bottom: 30px;">House Photos</h3>
                            <div class="carousel-indicators-section clearfix" style="display: table-cell;">
                                <ul class="carousel-indicators home-properties list-inline nav nav-justified edithomepicshow">
                                    {% for photo in photos_url %}
                                        <li class="list-inline-item" style="width:100%; display: inline-flex; vertical-align: middle; align-items: center;">
                                            <label for="carousel-selector-{{ forloop.counter0 }}" class="col-form-label" style="font-weight: 600;">Room Photos {{ forloop.counter }}:  </label>
                                            <a name="carousel-selector-{{ forloop.counter0 }}" href="{{ photo }}" id="carousel-selector-{{ forloop.counter0 }}" data-slide-to="{{ forloop.counter0 }}" data-target="#homeDetailsSlider" class="simg">
                                                <img src="{{ photo }}" class="img-fluid editimg" alt="small-home" style="margin-left: 20px; box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5); margin-bottom: 25px; height: 40%; width: 40%;max-width: 350px; max-height: 350px;">
                                            </a>
                                            <form action="{% url 'editroominfo' house_id roomnumber %}" method="POST" enctype="multipart/form-data" style=" margin-left: auto; margin-right: 0;">
                                                {% csrf_token %}
                                                <input type="text" value="{{ photo }}" name="deletedImg" hidden>
                                                <button value="{{ photo }}" class="btn btn-block btn-lg btn-theme btn-success"  style="width: 125%; padding: 0px; font-size: 1.15rem; text-align: center;">Delete</button>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>            
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-12">
                    <div class="sidebar-right">
                        <form action="{% url 'editroominfo' house_id roomnumber %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="widget advanced-search d-none-992" style="display: grid;">
                                <h3 class="sidebar-title">Features</h3>
                                {% if sfeatures is None %}
                                    {% for feature in features %}
                                        <label class="checkbox" for="{{ feature }}" style="font-size: 18px">
                                            <input class="checkbox_input" type="checkbox" name="{{ feature }}" id="{{ feature }}">
                                            <div class="checkbox_box"></div>
                                            {{ feature }}
                                        </label>
                                    {% endfor %}
                                {% else %}
                                    {% for feature in features %}
                                        {% if feature in sfeatures %}
                                            <label class="checkbox" for="{{ feature }}" style="font-size: 18px">
                                                <input checked class="checkbox_input" type="checkbox" name="{{ feature }}" id="{{ feature }}">
                                                <div class="checkbox_box"></div>
                                                {{ feature }}
                                            </label>
                                        {% else %}
                                            <label class="checkbox" for="{{ feature }}" style="font-size: 18px">
                                                <input class="checkbox_input" type="checkbox" name="{{ feature }}" id="{{ feature }}">
                                                <div class="checkbox_box"></div>
                                                {{ feature }}
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="d-flex n-flex">
                                    <button class="btn button-theme btn-md btn-success" type="submit">Save Features</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="row justify-content-center">
        <h3> You must be logged in to edit your room!! </h3>
    </div>
{% endif %}
{% endblock %}