{% extends 'base/base.html' %}
{% block title %}  {% endblock %}
{% block content %}

{% load static %}

{% if request.session.username %}
<!-- House details page start -->
    <div class="content-area-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="home-details-section">
                        <!-- Heading start -->
                        <div class="heading-home clearfix">
                            {% include 'includes/messages.html' %}
                            <div class="pull-left">
                                <input type="text" name="houseid" id="houseid" value="{{ house_id }}" hidden>
                                <h3>{{ housename }}</h3>
                                <h6>
                                    <i class="fa fa-map-marker"></i> {{ house_address }}
                                </h6>
                            </div>
                            <div class="pull-right">
                                <h3><span>Price range will be here</span></h3>
                            </div>
                        </div>
                        <div id="homeDetailsSlider" class="carousel home-details-sliders slide mb-40" data-ride="carousel">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner">
                                {% for photo in photos_url %}
                                    {% if forloop.first %}
                                        <div class="active item carousel-item" data-slide-number="{{ forloop.counter0 }}">
                                            <center><img src="{{ photo }}" class="img-fluid" alt="slider-home"></center>
                                        </div>
                                    {% else %}
                                        <div class="item carousel-item" data-slide-number="{{ forloop.counter0 }}">
                                            <center><img src="{{ photo }}" class="img-fluid" alt="slider-home"></center>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- main slider carousel nav controls -->
                            <div class="carousel-indicators-section clearfix">
                                <ul class="carousel-indicators home-properties list-inline nav nav-justified">
                                    {% for photo in photos_url %}
                                        {% if forloop.first %}
                                            <li class="list-inline-item active">
                                                <a id="carousel-selector-{{ forloop.counter0 }}" class="selected" data-slide-to="{{ forloop.counter0 }}" data-target="#homeDetailsSlider">
                                                    <img src="{{ photo }}" class="img-fluid" alt="small-home">
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="list-inline-item">
                                                <a id="carousel-selector-{{ forloop.counter0 }}" data-slide-to="{{ forloop.counter0 }}" data-target="#homeDetailsSlider">
                                                    <img src="{{ photo }}" class="img-fluid" alt="small-home">
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <a href="#homeDetailsSlider" class="carousel-control-prev" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a href="#homeDetailsSlider" class="carousel-control-next" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                        
                        <!-- Tabbing box start -->
                        <div class="tabbing tabbing-box mb-40">
                            <ul class="nav nav-tabs" id="homeTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false" style="color: #212121;">House overview</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false" style="color: #212121;">Features</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="homeTabContent">
                                <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                    <div class="home-description mb-50">
                                        <h3 class="heading-2">
                                            Description
                                        </h3>
                                        <p>
                                            {{ description }}
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                                    <div class="features-info mb-50">
                                        <h3 class="heading-2">Features</h3>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                {% if features is None %}
                                                    <h5> No features to preview!! </h5>
                                                {% else %}
                                                    <ul>
                                                        {% for feature in features %}
                                                            <li>
                                                                <span>{{ feature }}</span>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-right">
                        <!-- Advanced search start -->
                        <div class="widget advanced-search d-none-992">
                            <form action="{% url 'edithouseinfo' house_id %}" style="margin-bottom: 15px;">
                                <button class="btn btn-outline-success bomd btn-block btn-lg" data-toggle="modal" type="submit">Edit House Info</button>
                            </form>
                            <button class="btn btn-outline-success bomd btn-block btn-lg" data-toggle="modal" type="submit" id="addHousePicBtn">Add House Pic</button>
                        </div>
                        <form action="{% url 'homepreview' house_id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id="addHousePic">

                            </div>
                            <h4 style="width:100%; text-align: center; display:none; color: #198754;" id="picLimit">You reached picture limit!!</h4>
                            <button class="btn btn-block btn-lg btn-theme btn-success"  style="width: 25%; height:50px; margin: auto; display: none;" id="addBtnHouse">Add</button>
                        </form>   
                    </div>
                    <div class="sidebar-right">
                        <!-- Advanced search start -->
                        <div class="widget advanced-search d-none-992">
                            <form action="{% url 'addroom' house_id %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-success bomd btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal" id="addRoomBtn">Add Room</button>
                            </form>
                            <br><br>
                            <h3 class="sidebar-title">Your Rooms</h3>
                            <ul>
                                {% for room in rooms %}
                                    <li>
                                        <a href="{% url 'roompreview' house_id room %}"><span>Room No:</span>{{ room }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row justify-content-center">
        <h3> You must be logged in to add preview a house!! </h3>
    </div>
{% endif %}
{% endblock %}