<form method="POST">
    {% csrf_token %}
    {{ error }} 
    <br>

    <label for="firstname">First Name</label>
    <input type="text" name="firstname" placeholder="First Name"><br>

    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" placeholder="Last Name"><br>

    <label for="username">User Name</label>
    <input type="text" name="username" placeholder="Username" required><br>

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="username@gmail.com" required><br>

    <label for="phonenumber">Phone No.</label>
    <input type="tel" name="phonenumber"><br>

    <label for="password">Password</label>
    <input type="password" name="password" required><br>

    <label for="confirmpassword">Confirm Password</label>
    <input type="password" name="confirmpassword" required><br>

    <label for="bankaccount">Bank Account No.</label>
    <input type="text" name="bankaccount" placeholder="Bank Account No."><br>

    <label for="creditcard">Credit Card No.</label>
    <input type="text" name="creditcard" placeholder="Credit Card No."><br>

    <button type="submit">Submit</button>
</form>