{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    My Rents
{% endblock title %}

{% block content %}
    <div class="container-lg p-4 justify-content-center">
        <h1 class="text-center"> Your Rents </h1>
        <div class="row" style="height: 80vh">
            <section class="col-12 col-md-4 col-lg-4 overflow-auto border border-1" style="border-radius: .5rem; max-height: 75vh">
                <h4 class="text-center">Currently In</h4>
                <div class="vstack gap-2">
                    {% if ongoing_rents is not None %}
                        {% for rent in ongoing_rents %}
                            <div class="card mb-3" style="max-width: 100%;">
                                <div>
                                    <div class="card-body">
                                        <p class="card-title"><b>{{ rent.HOUSE_NAME }} Hosted by {{ rent.FIRST_NAME }} {{ rent.LAST_NAME }}</b></p>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                <i class="fa fa-map-marker"></i> 
                                                {{ rent.HOUSE_NO }}, {{ rent.STREET }}, {{ rent.CITY_NAME }}, {{ rent.STATE_NAME }}, {{ rent.COUNTRY_NAME }}
                                            </small>
                                        </p>
                                        <p class="card-text"><small class="text-muted">From {{ rent.CHECKIN | date:"M d, Y" }} to {{ rent.CHECKOUT | date:"M d, Y" }}</small></p>
                                        <a class="btn btn-outline-success btn-block" href="{% url 'house' house_id=rent.HOUSE_ID %}">View Details</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h5 class="text-center ">No current rents</h5>
                    {% endif %}
                </div>
            </section>
            <section class="col-12 col-md-4 col-lg-4 overflow-auto border border-1" style="border-radius: .5rem; max-height: 75vh">
                <h4 class="text-center">Upcoming</h4>
                <div class="vstack gap-2">
                    {% if upcoming_rents is not None %}
                        {% for rent in upcoming_rents %}
                            <div class="card mb-3" style="max-width: 100%;">
                                <div>
                                    <div class="card-body">
                                        <p class="card-title"><b>{{ rent.HOUSE_NAME }} Hosted by {{ rent.FIRST_NAME }} {{ rent.LAST_NAME }}</b></p>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                <i class="fa fa-map-marker"></i> 
                                                {{ rent.HOUSE_NO }}, {{ rent.STREET }}, {{ rent.CITY_NAME }}, {{ rent.STATE_NAME }}, {{ rent.COUNTRY_NAME }}
                                            </small>
                                            </p>
                                        <p class="card-text"><small class="text-muted">From {{ rent.CHECKIN | date:"M d, Y" }} to {{ rent.CHECKOUT | date:"M d, Y" }}</small></p>
                                        <a class="btn btn-outline-success btn-block" href="{% url 'house' house_id=rent.HOUSE_ID %}">View Details</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h5 class="text-center ">No upcoming rents</h5>
                    {% endif %}
                </div>
            </section>
            <section class="col-12 col-md-4 col-lg-4 overflow-auto border border-1" style="border-radius: .5rem; max-height: 75vh">
                <h4 class="text-center">Older</h4>
                <div class="vstack gap-2">
                    {% if older_rents is not None %}
                        {% for rent in older_rents %}
                            <div class="card mb-3" style="max-width: 100%;">
                                <div class="card-body">
                                    <p class="card-title"><b>{{ rent.HOUSE_NAME }} Hosted by {{ rent.FIRST_NAME }} {{ rent.LAST_NAME }}</b></p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <i class="fa fa-map-marker"></i> 
                                            {{ rent.HOUSE_NO }}, {{ rent.STREET }}, {{ rent.CITY_NAME }}, {{ rent.STATE_NAME }}, {{ rent.COUNTRY_NAME }}
                                        </small>
                                        <br>
                                        <small class="text-muted"><b>Stayed From {{ rent.CHECKIN | date:"M d, Y" }} to {{ rent.CHECKOUT | date:"M d, Y" }}</b></small>
                                    </p>
                                    <p class="text-card">
                                        <div>
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <b>Review on owner: </b>
                                                    
                                                </div>
                                                <div class="pull-right">
                                                    <span card-owner-rating>
                                                        {% if rent.OWNER_RATING is not None %}
                                                            <small><i class="bi bi-star-fill"></i> {{ rent.OWNER_RATING }}</small>
                                                        {% else %}
                                                            You haven't rated him yet.
                                                        {% endif %}
                                                    </span><br>
                                                </div>
                                            </div>
                                            <div>
                                                <span card-owner-review>
                                                    {% if rent.OWNER_REVIEW is not None %}
                                                        {{ rent.OWNER_REVIEW }}
                                                    {% else %}
                                                        No comments.
                                                    {% endif %}
                                                </span>
                                            <div>
                                        </div>
                                        <div>
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <b>Review on house: </b>
                                                </div>
                                                <div class="pull-right">
                                                    <span card-owner-rating>
                                                        {% if rent.HOUSE_RATING is not None %}
                                                            <small><i class="bi bi-star-fill"></i> {{ rent.HOUSE_RATING }}</small>
                                                        {% else %}
                                                            You haven't rated this house yet.
                                                        {% endif %}
                                                    </span><br>
                                                </div>
                                            </div>
                                            <div>
                                                <span card-owner-review>
                                                    {% if rent.HOUSE_REVIEW is not None %}
                                                        {{ rent.HOUSE_REVIEW }}
                                                    {% else %}
                                                        No comments.
                                                    {% endif %}
                                                </span>
                                            <div>
                                        </div>
                                    </p>
                                    <button class="btn btn-outline-success btn-block mb-2" data-modal-target="#modal{{ forloop.counter0 }}">Edit Review</button>
                                    <div class="modal-custom justify-content-center" id="modal{{ forloop.counter0 }}" data-rent-id="{{ rent.RENT_ID }}">
                                        <div class="modal-custom-header">
                                            <div class="title text-center">Edit Review</div>
                                        </div>
                                        <div class="modal-custom-body">
                                            <div class="container-fluid p-0 justify-content-center">
                                                <h5 class="text-center">Review {{ rent.USERNAME }}</h5>
                                                <select class="form-control mb-2" star-select-owner>
                                                    {% if rent.OWNER_RATING is not None %}
                                                        <option selected="true" disabled="disabled">{{ rent.OWNER_RATING }}</option>
                                                    {% else %}
                                                        <option selected="true" disabled="disabled">/5 stars</option>
                                                    {% endif %}
                                                    
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                {% if rent.OWNER_REVIEW is not None %}
                                                    <input class="form-control mb-2" placeholder="Write comment on owner" owner-review-input value="{{ rent.OWNER_REVIEW }}">
                                                {% else %}
                                                    <input class="form-control mb-2" placeholder="Write comment on owner" owner-review-input>
                                                {% endif %}
                                                
                                                <h5 class="text-center">Review {{ rent.HOUSE_NAME }}</h5>
                                                <select class="form-control mb-2" star-select-house>
                                                    {% if rent.HOUSE_RATING is not None %}
                                                        <option selected="true" disabled="disabled">{{ rent.HOUSE_RATING }}</option>
                                                    {% else %}
                                                        <option selected="true" disabled="disabled">/5 stars</option>
                                                    {% endif %}
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                {% if rent.HOUSE_REVIEW is not None %}
                                                    <input class="form-control mb-2" placeholder="Write comment on owner" house-review-input value="{{ rent.HOUSE_REVIEW }}">
                                                {% else %}
                                                    <input class="form-control mb-2" placeholder="Write comment on owner" house-review-input>
                                                {% endif %}
                                            </div>
                                            <button data-close-button class="close-button btn-sm btn-success text-center">Done</button>
                                        </div>
                                    </div>
                                    <a class="btn btn-outline-success btn-block" href="{% url 'house' house_id=rent.HOUSE_ID %}">View Details</a>
                                </div>
                            </div>
                        {% endfor %}
                        <div id="overlay"></div>
                    {% else %}
                        <h5 class="text-center ">No older rents</h5>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
    
{% endblock content %}
