{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="container-md p-5">
        <h2>
            <a href="{% url 'house' house_id=house_id %}"><i class="bi bi-arrow-left-circle"></i></a>
            Confirm and pay
        </h2>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                {% if request.session.username is not None %}
                    <h5>Hi, you're logged in</h5>
                    <p>Review your booking details to continue.</p>
                {% endif %}
                <h5>Your trip</h5>
                <div>
                    <b>Dates</b>
                    <p>{{ check_in }} to {{ check_out }}</p>
                </div>
                <div>
                    <b>Guests</b>
                    <p>{{ guests }} guest{{ guests|pluralize }}</p>
                </div>
                <hr>
                {% if request.session.username is None %}
                    <p>Please <a href="{% url 'signup' %}">signup</a> or <a href="{% url 'signin' %}">signin</a> to continue </p>
                {% else %}
                    <h5>Pay with</h5>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="credit-card-input"><i class="bi bi-credit-card-2-front"></i></span>
                            {% if CREDIT_CARD_NO %}
                                <input type="text" class="form-control" placeholder="Credit or debit card" aria-label="Credit or debit card" aria-describedby="credit-card-input">
                                    {{ CREDIT_CARD_NO }}
                                </input>
                            {% else %}
                                <input type="text" class="form-control" placeholder="Credit or debit card" aria-label="Credit or debit card" aria-describedby="credit-card-input">
                            {% endif %}
                        </div>
                        <div class="input-group-container mb-3">
                            <input type="text" class="form-control" placeholder="Street address" aria-label="Street address">
                            <input type="text" class="form-control" placeholder="Apt or suite number" aria-label="Apt or suite number">
                            <input type="text" class="form-control" placeholder="City" aria-label="City">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="state" aria-label="state">
                                <input type="text" class="form-control" placeholder="ZIP code" aria-label="ZIP code">
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit">Confirm and pay</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-12 col-md-12 col-lg-4">

            </div>
        </div>
    </div>
    
{% endblock content %}