body{
    /* background-image: url("../img/home-6.jpg");  */
    background-size: cover;
}

.alert {
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 0;
    padding: 15px 20px;
    margin-bottom: 10px;
    text-align: center;
}

.alert .close {
    line-height: 15px;
}

span {
    color: #535353;
}

/** Top header start **/
.top-header{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 100%;
}

.top-header.bg-active{
    background: #222e56;
}

.top-header .list-inline {
    padding: 13px 0;
}

.list-inline a {
    color: #fff;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
}

.top-header .list-inline a:last-child{
    margin-right: 0;
}

.list-inline a i {
    margin-right: 5px;
}

.top-header ul li {
    padding: 0 7px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    color: #aaa;
    font-size: 15px;
}

.top-header ul li:last-child{
    padding-right: 0;
}

.top-header .sign-in, .top-header .sign-in:hover {
    line-height: 36px;
    color: #ececec;
    font-size: 13px;
    background: #2c3b6d;
    padding: 4px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-header ul li a {
    color: #fff;
}

.top-header .sign-in, .top-header .sign-in:hover
.th-2 .sign-in, .top-header .sign-in:hover {
    line-height: 50px;
    color: #ececec;
    font-size: 13px;
    background: #2c3b6d;
    padding: 4px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    background: rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
}

/** Top header end **/


/** Main Header start**/

.main-header .company-logo {
    padding: 15px 0;
    float: left;
}

.header-with-top{
    background: rgba(12, 12, 12, 0.18);
}

.main-header .company-logo img {
    height: 50px;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 32.5px 15px;
    line-height: 20px;
    color: #515151;
    opacity: 1;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.main-header .navbar {
    padding: 0;
}

.bg-color-navbar{
    background: transparent;
}

.content-area-6 {
    padding: 100px 0 50px;
}

.dropdown-menu {
    border-radius: .5rem;
}

/** Heading home start **/
.heading-home{
    margin-bottom: 20px;
}

.heading-home h3{
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.heading-home h6{
    font-size: 15px;
    margin-bottom: 0;
    color: #535353;
}

.heading-home h6 i{
    margin-right: 3px;
}

.heading-home h3 span{
    float: right;
    margin-bottom: 5px;
}


/** home details sliders start **/
.home-details-sliders .carousel-indicators {
    margin-left: initial;
    margin-top: 0;
}

.home-details-sliders .carousel-indicators a {
    cursor: pointer;
}

.home-details-sliders .carousel-indicators > li {
    height: initial;
    text-indent: initial;
    margin-right: 0;
    margin-left: 0;
}

.dd.home-details-sliders .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

.home-details-sliders .list-inline {
    width: 100%;
    bottom: 10px;
    position: absolute;
}

.home-details-sliders .list-inline a{
    margin-right: 0;
}

.home-properties .list-inline-item {
    width: 80px;
    margin: 5px!important;
    border-radius: 5%;
}

.home-properties .list-inline-item a img {
    width: 100%;
    border: none;
    border-radius: 5%;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.82);
}

.home-details-sliders .carousel-indicators > li.active img {
    opacity: 0.7;
}

.list-inline-item:not(:last-child) {
    margin-right: 1px;
}

.home-properties {
    width: 100%;
}

/** Carousel indicators section start **/
.carousel-indicators-section{
    background: red;
    display: inline-block;
    width: 100%;
}

.carousel-indicators-section .home-properties .list-inline-item {
    width: 20%;
    margin: 0!important;
    border-radius: 0!important;
}

.carousel-indicators-section .list-inline-item a img {
    border-radius: 0;
}

.carousel-item img{
    width: 100%;
}

.carousel-indicators-section .carousel-indicators > li {
    height: initial;
    text-indent: initial;
    margin-right: 0;
    margin-left: 0;
}

.carousel-indicators-section .list-inline {
    width: 100%;
    bottom: inherit;
    position: absolute;
}

.carousel-indicators-section .carousel-indicators {
    margin-left: initial;
    margin-top: 0;
    position: relative;
}

.carousel-inner {
    border-radius: .5rem;
    height: 15rem;
    overflow: hidden;
}

/** Media **/
@media (max-width: 1200px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 35px 10px;
    }
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 15px;
        background: #f9f9f9;
    }

    .navbar-light .navbar-toggler {
        border: none;
        font-size: 18px;
        font-weight: 400;
    }

    .navbar-light .navbar-toggler span{
        color: #fff;
    }

    .navbar-toggler {
        padding: 0;
        width: 32px;
        height: 32px;
        outline: none;
        border-radius: 0;
    }

    .sticky-header {
        top: 0;
        position: fixed;
        z-index: 9999;
        width: 100%;
    }

    .content-area-6 {
        padding: 80px 0 50px;
    }

    .profile-pic-container {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-header .company-logo img {
        height: 40px;
    }

    .main-header {
        box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
    }

    .alert {
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 0;
        padding: 12.5px 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .content-area-6 {
        padding: 60px 0 30px;
    }

    .heading-car h3{
        font-size: 22px;
    }
}

@media all and (min-width: 992px) {
    .sticky-header .nav-link::after {
        display: none !important;
    }

    .sticky-header .navbar-expand-lg .navbar-nav .nav-link {
        color: #000;
        opacity: 0.9;
    }

    .sticky-header {
        position: fixed;
        top: 0px;
        z-index: 9999;
        width: 100%;
        background: rgba(12,12,12,0.1);
    }

    .profile-pic-container {
    position:absolute;
    top: 25%;
    left: 20%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.75rem;
    overflow: hidden;

    }

    .profile-pic-container img {
        position: relative;
        height: auto;
        max-width: 100%;
        
    }
}

/** Main header end **/
@media (max-width: 580px) {
    .heading-car .pull-left{
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }

    .heading-car .pull-right{
        float: left;
    }

    .heading-car h3 span{
        float: left;
    }
}

.hide {
    display: none;
}

.round-search-icon {
    background: white;
    border-right: none;
    border-radius: .5rem 0 0 .5rem;
}
.form-control {
    border-radius: .5rem;
}

.search-bar {
    border-left: none;
}

/** Card styles start **/

.card {
    border-radius: .5rem;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.card:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.card-body:hover {
    cursor: pointer;
}

.img-fluid {
    border-radius: .5rem;
}

/** Card styles end **/