<div id="confirmation" class="modal-container">
    <div class="modal">
        <section>
            <header class="modal-header">
            <span onclick="onCancel()">&times;</span>
            <h2 id="popupheading"></h2>
            </header>
            <section class="modal-content">
            <p id="popupmessage"></p>
            </section>
            <footer class="modal-footer">
            <button class="modal-button" onclick="onCancel()">Cancel</button>
            <button
                class="modal-button modal-confirm-button"
                onclick="onConfirm()">
                Confirm
            </button>
            </footer>
        </section>
    </div>
</div>